.digg_pagination
	.page_info 
		= page_entries_info @parameters
	= will_paginate @parameters, :container => true
	%label Page size:
	%select{ :id => "page_size", :onchange => "window.location.href = '#{@current_path}&page_size=' + $(this).val();" }
		= options_for_select ["10", "20", "50", "100"], @page_size
	.export
		= link_to "Export as XML", params.merge(:format => :xml), :id => "export_xml"
		= link_to "Export as PDF", params.merge(:format => :pdf), :id => "export_pdf"
#search_results
	%table.zebra-striped
		%thead
			%th Unit
			%th Source
			%th Expression
			%th Description	
		%tbody
			- @parameters.each do |p|
				%tr.parameter
					%td
						= p.unit.empty? ? raw("&nbsp;") : p.unit
					%td
						= p.source.empty? ? raw("&nbsp;") : p.source
					%td
						= p.expression.empty? ? raw("&nbsp;") : p.expression
					%td
						= p.description